[Unit]
Description=GPG Agent Daemon

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/gpg-agent --daemon --no-detach --enable-ssh-support --disable-scdaemon --default-cache-ttl 28800
ExecReload=/bin/kill -HUP $MAINPID
Type=forking

[Install]
WantedBy=default.target
