[user]
	name = Kevin Decherf
	email = kevin@kdecherf.com
	signingkey = 0x6B4EBA7A
[url "git://github.com/"]
        insteadOf = github:
[url "git+ssh://git@github.com/"]
        pushInsteadOf = github: 
[url "git+ssh://git@gitlab.clever-cloud.com/"]
        insteadOf = clevercloud:
        pushInsteadOf = clevercloud:

[alias]
    a = add
    d = rm
    p = push
    pl = pull
    st = status -sb
    ci = commit -s
    ca = commit -s --amend
    br = branch
    co = checkout
    cp = cherry-pick
    df = diff
    dfs = diff --stat
    lg = log -p
    who = shortlog -s --
    sh = stash
    shup = stash pop
    fap = format-patch HEAD~
    fapfap = format-patch
    ds = describe
    tk = log --name-status --pretty=oneline
    kick = update-index --assume-unchanged
    unkick = update-index --no-assume-unchanged
    s = svn
    pe = format-patch -M -C --find-copies-harder --stdout

[color]
    diff = auto
    branch = auto
    status = auto
    ui = true
[core]
	eol = lf
[merge]
	tool = meld
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[sendemail]
   smtpserver = /usr/bin/msmtp
[push]
	default = simple
